<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.decorate.ssm.mapper.ProjecttypeMapper" >
  <resultMap id="BaseResultMap" type="com.decorate.ssm.po.Projecttype" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="proTypeName" property="protypename" jdbcType="VARCHAR" />
    <result column="proTypeDesc" property="protypedesc" jdbcType="VARCHAR" />
    <result column="createDT" property="createdt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, proTypeName, proTypeDesc, createDT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.decorate.ssm.po.ProjecttypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from projecttype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from projecttype
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from projecttype
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.decorate.ssm.po.ProjecttypeExample" >
    delete from projecttype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.decorate.ssm.po.Projecttype" >
    insert into projecttype (Id, proTypeName, proTypeDesc, 
      createDT)
    values (#{id,jdbcType=INTEGER}, #{protypename,jdbcType=VARCHAR}, #{protypedesc,jdbcType=VARCHAR}, 
      #{createdt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.decorate.ssm.po.Projecttype" >
    insert into projecttype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="protypename != null" >
        proTypeName,
      </if>
      <if test="protypedesc != null" >
        proTypeDesc,
      </if>
      <if test="createdt != null" >
        createDT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="protypename != null" >
        #{protypename,jdbcType=VARCHAR},
      </if>
      <if test="protypedesc != null" >
        #{protypedesc,jdbcType=VARCHAR},
      </if>
      <if test="createdt != null" >
        #{createdt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.decorate.ssm.po.ProjecttypeExample" resultType="java.lang.Integer" >
    select count(*) from projecttype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update projecttype
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.protypename != null" >
        proTypeName = #{record.protypename,jdbcType=VARCHAR},
      </if>
      <if test="record.protypedesc != null" >
        proTypeDesc = #{record.protypedesc,jdbcType=VARCHAR},
      </if>
      <if test="record.createdt != null" >
        createDT = #{record.createdt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update projecttype
    set Id = #{record.id,jdbcType=INTEGER},
      proTypeName = #{record.protypename,jdbcType=VARCHAR},
      proTypeDesc = #{record.protypedesc,jdbcType=VARCHAR},
      createDT = #{record.createdt,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.decorate.ssm.po.Projecttype" >
    update projecttype
    <set >
      <if test="protypename != null" >
        proTypeName = #{protypename,jdbcType=VARCHAR},
      </if>
      <if test="protypedesc != null" >
        proTypeDesc = #{protypedesc,jdbcType=VARCHAR},
      </if>
      <if test="createdt != null" >
        createDT = #{createdt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.decorate.ssm.po.Projecttype" >
    update projecttype
    set proTypeName = #{protypename,jdbcType=VARCHAR},
      proTypeDesc = #{protypedesc,jdbcType=VARCHAR},
      createDT = #{createdt,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>